<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Final - Grupo 5 - Desarrollo Web</title>
    <link rel="icon" href="../resources/images/icono-umg.png">
    <link rel="stylesheet" href="../resources/css/style_perfil.css">
    <link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>
<body>
    <% if(results) { %> 
        <section class="perfil-usuario">
            <div class="contenedor-perfil">
                <div class="portada-perfil" style="background-image: url('../resources/images/fondo9.jpg');">
                    <div class="sombra"></div>
                    <div class="avatar-perfil">
                        <img src="../resources/uploads/<%= results.imagen %>" alt="img">
                        <a href="/editar_perfil/<%= results.id_usuario %>" class="cambiar-foto">
                            <i class="fas fa-camera"></i> 
                            <span>Cambiar foto</span>
                        </a>
                    </div>
                    <div class="datos-perfil">
                        <h4 class="titulo-usuario"><%= results.nombre %></h4>
                        <p class="bio-usuario"><%= results.email %></p>
                    </div>
                    <div class="opcciones-perfil">
                        <a type="" href="/logout" onclick="return confirm('¿Quiere cerrar su sesión?');">Cerrar sesión</a>
                    </div>
                </div>
                <div class="menu-perfil">
                    <ul>
                        <li><a href="/perfil/<%= results.id_usuario %>" title=""><i class="icono-perfil fas fa-bullhorn"></i> Publicaciones</a></li>
                        <li><a href="/subir_imagen/<%= results.id_usuario %>" title=""><i class="icono-perfil fas fa-info-circle"></i> Subir fotografía</a></li>
                        <li><a href="/editar_perfil/<%= results.id_usuario %>" title=""><i class="icono-perfil fas fa-info-circle"></i> Editar Perfil</a></li>
                    </ul>
                </div>
                <form action="/editar_foto_perfil/<%= results.id_usuario %>" method="post" enctype="multipart/form-data">
                    <div class="edita-perfil">
                        <div class="bloque1">
                            <br>
                            <h1>Subir foto de perfil</h1>
                            <input type="file" id="myFile" name="myFile"  class="box">
                            <br><br><br>
                                <input type="submit" name="submit" value="Actualizar foto de perfil" class="btn">
                        </div>
                        <div><div id="mostrar-imagen"></div></div>
                    </div>
                </form>
            </div>
        </section>
    <% } %>
    <script  src="../resources/js/editar.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if(typeof alert != "undefined") { %>
        <% if(results) { %>
        <script>
           Swal.fire({
              title:'<%= alertTitle %> <%= results.nombre %>',
              text: '<%=alertMessage %>',
              icon: '<%= alertIcon %>',
              showConfirmButton: <%= showConfirmButton %>,
              timer: <%= timer %>
           }).then(()=>{
              window.location='/<%= ruta %>/<%= results.id_usuario %>'
           })
        </script>
        <% }else{ %>
           <script>
              Swal.fire({
                 title:'<%= alertTitle %>',
                 text: '<%=alertMessage %>',
                 icon: '<%= alertIcon %>',
                 showConfirmButton: <%= showConfirmButton %>,
                 timer: <%= timer %>
              }).then(()=>{
                 window.location='/<%= ruta %>'
              })
           </script>
        <%}%>  
     <%}%>
</body>
</html>